In [ ]:
# 1.  Write a program that prints your name 100 times. 

for i in range(101):
    print("Name")

In [2]:
# Write a program to fill the screen horizontally and vertically with your name. 
#[Hint: add the option end=' ' into the print function to fill the screen horizontally.] 

for i in range(101):
    print("Name",end='')

NameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameNameName

In [3]:
# 3. Write a program that outputs 100 lines, numbered 1 to 100, each with your name on it. The output should look like the output below. 

for i in range(1,101):
    print(i, "Name")

1 Name
2 Name
3 Name
4 Name
5 Name
6 Name
7 Name
8 Name
9 Name
10 Name
11 Name
12 Name
13 Name
14 Name
15 Name
16 Name
17 Name
18 Name
19 Name
20 Name
21 Name
22 Name
23 Name
24 Name
25 Name
26 Name
27 Name
28 Name
29 Name
30 Name
31 Name
32 Name
33 Name
34 Name
35 Name
36 Name
37 Name
38 Name
39 Name
40 Name
41 Name
42 Name
43 Name
44 Name
45 Name
46 Name
47 Name
48 Name
49 Name
50 Name
51 Name
52 Name
53 Name
54 Name
55 Name
56 Name
57 Name
58 Name
59 Name
60 Name
61 Name
62 Name
63 Name
64 Name
65 Name
66 Name
67 Name
68 Name
69 Name
70 Name
71 Name
72 Name
73 Name
74 Name
75 Name
76 Name
77 Name
78 Name
79 Name
80 Name
81 Name
82 Name
83 Name
84 Name
85 Name
86 Name
87 Name
88 Name
89 Name
90 Name
91 Name
92 Name
93 Name
94 Name
95 Name
96 Name
97 Name
98 Name
99 Name
100 Name

4. Write a program that prints out a list of the integers from 1 to 20 and their squares. The output should look like this:

1 --- 1
2 --- 4
3 --- 9
...
20 --- 400

In [ ]:
for i in range (1,201):
    print(i, "---", i*i)

In [ ]:
# 5 Write a program that uses a for loop to print the numbers 8, 11, 14, 17, 20, â€¦, 83, 86, 89. 

for i in range(8,90,3):
    print(i)